/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',monospace;
list-style: none;
text-decoration: none;
}


h1{
  margin: 10px 0;
}
main,section{
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  /* border: 2px solid gray; */
  outline: 1px solid  #ff0a78;
}



main,section{
  border: 2px solid #ff0a78;
  border-radius: 10px;
  padding: 2rem;
  /* margin: 2rem; */
}




h1{
  color: #ff0a78;
}
article{
  display: flex;
  flex-direction: column;
  position: absolute;
top: 0;
right: 30px;
width: 10%;
height: 70vh;
  color: #fc2f8b;
  font-size: 0.8rem;
  font-weight: 400;
}

article a{
  color: #2f0aff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ff0a78;
  text-align: center;
  padding:2px;
  margin-bottom: 5px;
  /* background-color: chocolate; */
}

article p{
  color: #1b1a1a;
  font-size: 10px;
}





/* media queries */

@media(max-width:650px) {
  section,main{
    display: block;
    font-size: 80%;
    margin: 0.5rem;
  }
  section p,main p{
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 2rem;
    background-color: #f52121;
    opacity: 0.7;
    border-radius: 1rem;
    color: whitesmoke;
    text-rendering: optimizeSpeed;
  }
  
  article{
    display: none;
    
  }
  
}








.css-button-3d--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
.css-button-3d--red:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
.css-button-3d--red:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

